node_modules
.next
out
Dockerfile
docker-compose.yml
.git
.gitignore
README.md
Dockerfile*
docker-compose*
.dockerignore
.env*
npm-debug.log*
.DS_Store
*.pem
.vscode
.idea
coverage
.nyc_output
backups